@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.app-title{
    font-size: 50px;
    color:rgb(33, 50, 138);
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.search-section{
    display:flex;
    justify-content: center;
    margin:1rem auto 2rem auto;
    gap:2rem;
    align-items: center;
    text-align: center;
}
.input{
    display: flex;
    flex-direction: column;
}
.input p{
    margin:0
}