<h1 class="app-title">Your online shop.</h1>
<div class="app-container">
  <div class="search-section">
    <div class="input">
      <input
        type="text"
        (input)="handleSearchByName($event)"
        [value]="searchByName"
        placeholder="Search a product"
      />
    </div>

    <div class="input">
      <select
        (change)="handleSelectCategory($event)"
        [value]="selectedCategory"
      >
        <option value="" hidden>Select a category</option>
        <option value="all">All Categories</option>
        <option value="men's clothing">Men Clothing</option>
        <option value="women's clothing">Women Clothing</option>
        <option value="jewelery">Jewelery</option>
        <option value="electronics">Electronics</option>
      </select>
    </div>
  </div>
  <app-product-list
    [filteredProducts]="filteredProducts"
    [selectedCategory]="selectedCategory"
  ></app-product-list>
</div>
