@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');
  .products-section {
    display: flex;
    flex-wrap: wrap;
    gap:4rem;
    justify-content: center;
  }
  .item-title-container{
    background-color:rgb(32, 43, 91);
    height:5rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Afacad', sans-serif;
    align-items: center;
    text-align: center;
    margin:0 auto;
    color:white;
    padding: 0 1rem 0 1rem;
    align-items: center;
    text-align: center;
  }
  .item {
    width: calc(22% - 10px);

    border:1px solid black;
    border-radius:10px;
    background-color: rgb(234, 234, 234);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 .item-picture{
    width:8rem;
    height:11rem;
    object-fit: contain;
    margin-top:10px;
    width: 100%;
  

  }


  .item-description {
    height: 130px;
    overflow-y: auto; 
    font-family: 'Afacad', sans-serif;
    padding:0 2rem;
    border:1px solid rgb(173, 173, 173);
    margin:1rem ;
    background-color: WHITE;
  }
  .item-category{
    margin:0;
    color:rgb(255, 255, 255);
    font-weight: 800;
    font-size:20px;
    font-weight: 900;
    font-family: 'Afacad', sans-serif;
    background-color: rgb(64, 80, 150);
    padding:0.5rem 1rem;
    border-radius: 10px;
  }
  .price-and-buy{
    display: flex;
    justify-content: center;
    gap:3rem;
    padding:1rem;
    background-color: rgb(209, 209, 209);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .price-and-buy button{
    border-radius:10px;
    font-family: 'Afacad', sans-serif;
    background-color: rgb(64, 207, 73);
    color:white;
    border:none;
    cursor:pointer;
    padding:0.5rem 1rem;
    font-size:20px
  }
  .price-and-buy button:hover{
    
    background-color: rgb(36, 145, 44);
   
    color:white;
  }
  .fa-solid{
    color:rgb(6, 255, 6)
  }
  h1{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:0 auto 2rem auto;
  font-family: 'Afacad', sans-serif;
  background-color: rgb(237, 237, 237);
}
